@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
    h1 {
        font-size: var(--text-2xl);
        font-weight: 700;
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: 700;
    }
}

/* Hardcoded Tectonic classes */

.canvas {
    position: relative;
    line-height: 1;

    .ci {
        position: absolute;
    }

    .cr {
        position: absolute;
        background-color: #000;
        color: #000;
    }
}

.canvas-inline {
    display: inline-block;
}

.canvas-block {
    display: block;
    margin: 1.5em auto;
}